# MongoDB Connection
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/insolitus
DB_NAME=insolitus

# Site URL (para SEO y meta tags)
NEXT_PUBLIC_SITE_URL=https://insolitusdevelopment.com

# Google Analytics (opcional)
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
